*.iml
.idea
.gradle
/local.properties
.DS_Store
/captures
.externalNativeBuild
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
*.apk
*.ap_
*.dex
bin/
gen/
build/
local.properties
proguard/
.navigation/
captures/
google-services.json
freeline.py
freeline/
freeline_project_description.json
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
